.frontmatter-container {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  background-color: var(--light);
}

.frontmatter-summary {
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary);
}

.frontmatter-summary-content {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 0.9rem); /* Leaves space for the arrow marker */
  vertical-align: middle;
}

.frontmatter-count {
  font-weight: normal;
  font-size: 0.85rem;
  color: var(--gray);
}

.frontmatter-table {
  margin-top: 0.5rem;
  width: 100%;
  border-collapse: collapse;
}

.frontmatter-key {
  font-weight: 600;
  padding-right: 1rem;
  color: var(--darkgray);
}

.frontmatter-value {
  color: var(--dark);
}
